In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:/users/DELL/Downloads/FoodBalanceSheets_E_Africa.csv')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
df.shape

(60943, 12)

In [4]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

### Question 11 : What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [93]:
df_fats = df.groupby('Item')['Y2014', 'Y2017'].sum()
print('Animal fats total in year 2014 and 2017 respectively : \n{}'.format(df_fats.loc["Animal fats"]))

Animal fats total in year 2014 and 2017 respectively :
Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

C:\Users\DELL\AppData\Local\Temp\ipykernel_2248\1314215189.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_fats = df.groupby('Item')['Y2014', 'Y2017'].sum()

### Question 12 : What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [70]:
df_2015 = df['Y2015'].describe()
print('Year 2015 \nmean : {:.3f} \nstandard deviation : {:.3f}'.format(df_2015.loc['mean'],df_2015.loc['std'] ))

Year 2015
mean : 135.236
standard deviation : 1603.404

### Question 13: What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [69]:
total =df.isnull().sum()['Y2016']
per = ((df.isnull().sum()['Y2016'])/df.shape[0])*100
print(' Total number and percentage of missing data in 2016 : \n total - {} \n percentage- {:.2f} '.format(total, per))

 Total number and percentage of missing data in 2016 :
 total - 1535
 percentage- 2.52

### Question 14: Which year had the highest correlation with ‘Element Code’?

In [92]:
print(df.corr()['Element Code'].sort_values(ascending=False))
print("\nYear 2014 is the year with the highest correlation with Element Code")

Element Code    1.000000
Y2014           0.024457
Y2018           0.024279
Y2017           0.024254
Y2015           0.023889
Y2016           0.023444
Area Code      -0.000209
Item Code      -0.024683
Name: Element Code, dtype: float64

Year 2014 is the year with the highest correlation with Element Code

### Question 15: What year has the highest sum of Import Quantity?

In [67]:
dff = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
print(dff.loc['Import Quantity'].sort_values(ascending=False))
print ('\nAnswer = 2017')

Y2017    294559.09
Y2018    287997.09
Y2016    286582.78
Y2014    274144.48
Y2015    267018.46
Name: Import Quantity, dtype: float64

Answer = 2017

### Question 16: What is the total number of the sum of Production in 2014?

In [76]:
dfff = df.groupby('Element')['Y2014'].sum()
dfff.loc[['Production']]

Element
Production    1931287.75
Name: Y2014, dtype: float64

### Question 17 : Which of these elements had the highest sum in 2018?

In [78]:
dfff = df.groupby('Element')[['Y2018']].sum()
print(dfff.sort_values('Y2018', ascending=False))

                                             Y2018
Element
Domestic supply quantity                2161192.10
Production                              2075072.89
Food                                    1303841.28
Total Population - Both sexes           1140605.00
Food supply (kcal/capita/day)            455261.00
Processing                               308429.00
Import Quantity                          287997.09
Feed                                     233489.68
Export Quantity                          181594.80
Losses                                   163902.00
Other uses (non-food)                     91300.97
Food supply quantity (kg/capita/yr)       49056.85
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Protein supply quantity (g/capita/day)    11833.56
Fat supply quantity (g/capita/day)        10258.69
Tourist consumption                          90.00

### Question 18: Which of these elements had the 3rd lowest sum in 2018?

In [80]:
dfff = df.groupby('Element')[['Y2018']].sum()
print(dfff.sort_values('Y2018'))

                                             Y2018
Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Residuals                                 34864.00
Food supply quantity (kg/capita/yr)       49056.85
Other uses (non-food)                     91300.97
Losses                                   163902.00
Export Quantity                          181594.80
Feed                                     233489.68
Import Quantity                          287997.09
Processing                               308429.00
Food supply (kcal/capita/day)            455261.00
Total Population - Both sexes           1140605.00
Food                                    1303841.28
Production                              2075072.89
Domestic supply quantity                2161192.10

### Question 19: What is the total Import Quantity in Algeria in 2018?

In [90]:
dfff = df.loc[df['Area']=='Algeria'].groupby('Element')[['Y2018']].sum()
dfff.loc[['Import Quantity']]

                    Y2018
Element
Import Quantity  36238.29

### Question 20:  What is the total number of unique countries in the dataset?

In [91]:
df.Area.describe()

count     60943
unique       49
top       Kenya
freq       1560
Name: Area, dtype: object